################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DFNStress/DFNStress.vcxproj.user
/x64/Release/DFNStress.pdb
/x64/Release/DFNStress.exe.metagen
/x64/Release/DFNStress.exe
/DFNStress.VC.VC.opendb
/DFNStress.VC.db
/DFNStress/x64/Release/vc140.pdb
/DFNStress/x64/Release/MyForm.obj
/DFNStress/x64/Release/DFNStress.vcxprojResolveAssemblyReference.cache
/DFNStress/x64/Release/DFNStress.vcxproj.GenerateResource.Cache
/DFNStress/x64/Release/DFNStress.tlog/TZRES.DLL.bi
/DFNStress/x64/Release/DFNStress.tlog/metagen.write.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/metagen.read.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/link.write.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/link.read.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/link.command.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/DFNStress.write.1u.tlog
/DFNStress/x64/Release/DFNStress.tlog/DFNStress.lastbuildstate
/DFNStress/x64/Release/DFNStress.tlog/CL.write.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/CL.read.1.tlog
/DFNStress/x64/Release/DFNStress.tlog/CL.command.1.tlog
/DFNStress/x64/Release/DFNStress.MyForm.resources
/DFNStress/x64/Release/DFNStress.log
/DFNStress/x64/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
/DFNStress/x64/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.asm
/DFNStress/x64/Debug/vc140.pdb
/DFNStress/x64/Debug/MyForm.obj
/DFNStress/x64/Debug/DFNStress.vcxprojResolveAssemblyReference.cache
/DFNStress/x64/Debug/DFNStress.tlog/unsuccessfulbuild
/DFNStress/x64/Debug/DFNStress.tlog/TZRES.DLL.bi
/DFNStress/x64/Debug/DFNStress.tlog/metagen.write.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/metagen.read.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.write.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.read.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.command.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.3324.write.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.3324.read.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.3324.6052.write.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/link.3324.6052.read.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/DFNStress.lastbuildstate
/DFNStress/x64/Debug/DFNStress.tlog/CL.write.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/CL.read.1.tlog
/DFNStress/x64/Debug/DFNStress.tlog/CL.command.1.tlog
/DFNStress/x64/Debug/DFNStress.log
/DFNStress/x64/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
/DFNStress/x64/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.asm
/DFNStress/MyForm.resx
